/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*------------------------------------
            cummon styles
-------------------------------------*/
body{
    margin: 0%;
}
/*------------------------------------
            Header section
 -----------------------------------*/
.header{
    background-color: #2D25A0;
    width: 100%;
    height: 650px;
}
/* MEnu Bar Styles start */
.menu-bar{
    display: flex;  
}
nav ul{
    display: flex;
    margin-left: 100px;
    margin-right: 170px;
    margin-top: 55px;
    margin-bottom: 64PX;
}
nav li{
    list-style-type: none; 
    margin-right: 36px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.menu-bar a{
    text-decoration: none;
    color: #FFFFFF;
}
.login-icon{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 123px;
    height: 44px;
    margin-top: 41px;
    padding: 10px 24px;
    background: #E02C6D;
}
.icon{
    width: 24px;
    height: 24px;
}
.login{
    padding-left: 10px;
    font-size: 20px;
}

/*-----------------------------
       MEnu Bar Styles End
 ------------------------------ */


/* <!--------------------------------------
        Images And Title Section 
 ---------------------------------------> */
.images-and-title-section{
    display: flex;
}
.title h1{
    color: #FFFFFF;
    margin-left: 156px;
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
}
.watch-live{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 156px;
    width: 164px;
    height: 44px;
    padding: 10px 24px;
    background: #E02C6D;
}
.live{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 20px;
}
.icon, .live{
    padding-left: 18px;
    color: #FFFFFF;
}
.images{
    margin-left: 200px;
}
.images:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
